.side-bar{
	background-color: #eae9ee;
	padding: 30;
	-moz-box-shadow:    5px 0px 5px #ccc;
	-webkit-box-shadow: 5px 0px 5px #ccc;
	box-shadow:         5px 0px 5px #ccc;
}

.content{
	/*background-color: #fdfcff;*/
	padding: 30px;
}

a{
	text-decoration: none !important;
	color: gray;
}

p.resume{
	color: #054f9a;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Cambria';
}

p.name{
	margin-top: 30px;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 0;
	/*font-family: 'Cambria';*/
}

p.job{
	margin-bottom: 10px;	
}

p.title{
	color: #054f9a;
	font-size: 28px;
	font-weight: bold;
	font-family: 'Cambria';
}

p.description{
	padding-left: 30;
	color: gray;
	font-size: 14px;
	font-family: 'Calibri';
}

p.skill{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: 'Calibri';
	font-weight: bold;
}

.item-year{
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	color: #28a745;
}

.item-description{
	margin-left: 30;	
}

p.item-title{
	margin: 0;
	font-weight: bold;
}

p.item-detail{
	margin: 0;
	color: gray;
	font-size: 15px;
}

.progress-pass{
	overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.progress-pass::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.progress-pass {
	-ms-overflow-style: none;
}

ul{
	margin-top: 20px;
	list-style-type:none;
}